*{padding: 0; margin: 0; font-family: sans-serif;}

  /* start nav*/
  .nav{width: 100%; height: 70px; display: flex; align-items: center;}
  .nav .nav-links .row1, .row2{display: flex; justify-content: space-between;}
  .nav .logo img{width: 60px;}
  .nav .nav-links .row2 .right-side img{width: 20px;}
  .nav .nav-links{width: 87%;}
 .nav .logo{width: 10%; text-align: center;}
.nav .nav-links a{text-decoration: none; color: black; margin: 5px; font-size: 20px;}
.nav .nav-links .row1{padding-bottom: 3px;}
.nav .nav-links .row2{padding-top: 3px; border-top: 1px solid lightslategray; }
.nav .nav-links .shownav{display: none;}
.nav-mobile{display: none;}

/* end nav*/

/* start slider*/
.slider{width: 100%; height: 500px; background-image: url('../img/banner.webp'); background-repeat: no-repeat; 
    background-size: cover; background-position: center;}
    .slider .btn a{text-decoration: none; color: white; background-color:maroon; padding: 15px; border-radius: 5px;}
    .slider .btn{padding-top: 350px; margin-left: 100px;}
/* end slider*/

/* home-section1 start*/
.home-section1{width: 90%; display: flex; justify-content: space-evenly; margin: auto; margin-top: 20px;}
.home-section1 img{width: 150px; padding-top: 10px; padding-bottom: 10px;}
.home-section1 .col{width: 18%; border: 1px solid lightgray; text-align: center; padding: 15px; border-radius: 20px;}
 /*end home-section1 */

 /* home-section2 start*/
.home-section2{width: 100%; height: 350px; background-image: url(../img/B2B\ Banner-01-01.webp); background-size: cover; 
  background-repeat: no-repeat; background-position: top;
  margin-top: 20px} 
  /*end home-section2 */


  /* home-section3 start*/
.home-section3{width: 90%; height: 400p; display: flex; justify-content: space-evenly; margin: auto; margin-top: 50px; margin-bottom: 50px;}
.home-section3 .col{width: 18%; height: 200px;}
.home-section3 .col img{width: 150px;}
.home-section3 .col h3{ line-height: 25px; font-size: 17px;}
.home-section3 .col .btn a{ padding-bottom: 30px; text-decoration: none; color: black;}
  /*end home-section3*/

    /* home-section4 start*/
.home-section4{ width: 100%; border-bottom: 2px solid lightgray; display: flex; 
      justify-content: space-evenly; margin-top: 80px;}
.home-section4 .col a{text-decoration: none; color: black; font-size: 20px;}
      /*end home-section4*/

         /* home-section5 start*/
.home-section5{width: 90%; margin: auto; margin-top: 80px; 
          display: flex; justify-content: space-around; text-align: center;}
.home-section5 .col{width: 20%; padding-left: 30px;}
.home-section5 .col img{width: 150px;}
    
           /*end home-section5*/

           /* home-section6 start*/
.home-section6{ width: 100%; display: flex; justify-content: space-evenly; margin: auto; margin-top: 50px;}
.home-section6 .col1{width: 40%; background-image:url(../img/africa-home-block-1-t.webp); 
            background-repeat: no-repeat; background-size: cover; background-position: left; margin-left: 20px;}
.home-section6 .col1 h3{font-size: 20px; color: white; padding-left: 100px; padding-top: 35px;}
.home-section6 .col2{width: 50%;}
.home-section6 .col2 .row1{width: 80%; height: 250px; background-image: url(../img/africa-home-block-2-d.webp);
               background-size: cover; background-position: center; margin-bottom: 20px;}
.home-section6 .col2 .row2{width: 80%; height: 250px; background-image: url(../img/africa-home-block-3-d.webp);
                background-size: cover; background-position: center; margin-top: 35px;}
.home-section6 .col2 .row1 h3{ font-size: 20px; padding-top: 30px; padding-left: 30px;} 
.home-section6 .col2 .row2 h3{font-size: 20px; padding-top: 20px; padding-left: 30px;} 
         /*end home-section6*/

           /* home-section7 start*/
.home-section7{width: 100%; height: 200px; display: flex; justify-content: space-evenly; text-align: center; padding-top: 100px;}
.home-section7 h3{font-size: 20px;}
.home-section7 .col img{width: 100px;}
            /*end home-section*/

             /* home-section8 start*/
.home-section8{width: 100%; text-align: center;}

             /*end home-section8*/

               /* home-section9 start*/
.home-section9{width: 100%; display: flex; justify-content: space-evenly; margin: auto; margin-top: 20px;}
.home-section9 .col{width: 10%; text-align: center; padding-top: 40px;}
             .home-section9 .col p{padding-top: 10px;}
              /*end home-section9*/

                /* home-section10 start*/
.home-section10{text-align: center; padding-top: 30px;}
.home-section10 h3{ font-size: 30px; padding-top: 40px;}
.home-section10 p{line-height: 30px; padding-top: 20px;}
               /*end home-section10*/

             /* home-section11 start*/ 
.home-section11{width: 100%; display: flex; justify-content: space-evenly; padding-top: 50px;}
.home-section11 .col{width: 30%; text-align:center; line-height: 30px; }
.home-section11 .col a{color: rgb(85, 75, 75);}
               /*end home-section11*/

                 /* home-section12 start*/
.home-section12{ width: 100%; margin: auto; padding-top: 50px; text-align: center; padding-left: 25p; 
                padding-right: 25p;line-height: 25px;}
                  /*end home-section12*/

                  /* home-section13 start*/
.home-section13{ width: 90%; margin-top: 20px; display: flex; justify-content: space-between; 
                  padding-top: 100p; border-bottom: 2px solid lightgray; border-top: 2px solid lightgray ;}
.home-section13 .col{width: 18%; display: flex; justify-content: space-evenly; padding-right: 25px; padding-top: 120px;}
.home-section13 .col .col2 a{text-decoration: none;color: rgb(85, 75, 75); }
                  /*end home-section13*/

                   /* home-section14 start*/
.home-section14{width: 90%; display: flex; justify-content: space-around;
                    margin: auto; margin-top: 100px; border-bottom: 2px solid lightgray; }
.home-section14 .footer-line{border-left: 1px solid lightgray; padding-left: 12  px;}
.home-section14 .footer-line p{ line-height: 25px; text-align: center;}
.home-section14 .col{width: 18%; }
.home-section14 .col ul li{list-style: none; font-size: 15px; color: gray; line-height: 20px; padding-top: 10px;}
.home-section14 .col ul{padding-left: 10px;}
.home-section14 .col p{font-size: 15px; padding-left: 20px;}
.home-section14 .col h3{font-size: 12px; margin-bottom: 10px; padding-left: 20px;} 
.home-section14 .col a{text-decoration: none; color: rgb(105, 101, 101); font-size: 20px;}
                /*end home-section14*/

.container{background-color: rgb(243, 243, 243);}
                 /* start footer*/
.footer{width: 100%; display: flex; justify-content: space-evenly; background-color: rgb(78, 75, 75);}
.footer .anchor{text-align: center; font-size: 10px; color: white; line-height: 15px;}
.footer .anchor a{color: white;}
.footer .left{padding-top: 20px;}
.footer .right{padding-top: 20px;}
.footer .left .anchor .anchor1{ width: 40%; display: flex; justify-content: space-evenly; padding-left: 100px;}
.footer .left .anchor p{padding-right: 50px;}
                /* end footer*/


                /* tv/audio start*/
.heading{text-align: center; padding-top: 50px;}
.heading p{padding-top: 20px; line-height: 30px;}
                /* tv/audio end*/

                 /* section1  start*/
.section1{width: 100%; height: 400px; background-position: center; background-size: cover; 
                  background-image: url(../img/Earbuds_Hero_Clean_D.jpg); padding-left: 150px; padding-top: 300px;}
.section1 p{color: white; padding-bottom: 20px; font-size: 20px;}
.section1 h4{color: white; padding-bottom: 20px; font-size: 20px;}
.section1 h2{color: white; padding-bottom: 20px; font-size: 50px;}
.section1 .anchor{padding-top: 20px;}
.section1 .anchor a{color: white; text-decoration: none; background-color: maroon;
                     padding: 10px 20px 10px 20px; border-radius: 5px; text-align: center;}
                   /* section1 end*/


                   /* section2  start*/
.section2 img{width: 250px; height: 250px;}
.section2 .top{width: 100%; height: 400px; display: flex; justify-content: space-evenly; text-align: center; padding-top: 50px;}
.section2 .bottom{width: 100%; height: 400px; display: flex; justify-content: space-evenly; text-align: center; padding-top: 50px;}
.section2 .top .col{width: 17%; border: 1px solid lightgray; text-align: center; padding: 20px; border-radius: 20px;}
.section2 .top .col a{text-align: center; text-decoration: none; color: black; font-size: 20px;}
.section2 .bottom .col{width: 17%; border: 1px solid lightgray; text-align: center; padding: 20px; border-radius: 20px;}
.section2 .bottom .col a{text-align: center; text-decoration: none; color: black; font-size: 20px;}
                  /* section2 end*/

                  /* section3  start*/
.section3{padding-top: 80px;}
.section3 .top{padding-bottom: 50px;}
.section3 p{text-align: center; font-size: 30px;}
.section3 .bottom .row1{width: 100%; height: 80px; display: flex; justify-content: space-evenly;}
.section3 .bottom .row2{width: 100%; height: 100px; display: flex; justify-content: space-evenly;}
.section3 .bottom .row2 .col .anchor a{color: white; text-decoration: none; background-color: maroon; border-radius: 5px;
                    padding: 10px 13px 10px 13px; text-align: center;}
.section3 .bottom .row2 .col .anchor{padding-bottom: 20px;}
                   /* section3 end*/

                     /* section4  start*/
.section4 .row1{width: 100%; height: 700px; background-image: url(../img/africa-tvaudiovideo-pdp-1-d.jpg); background-size: cover; background-position: bottom;}
.section4 .row2{width: 100%; height: 600px; background-image: url(../img/africa-tvaudiovideo-pdp-2-d.jpg); background-size: 
                    cover; background-position: bottom;}
.section4 .row3{width: 100%; height: 500px; background-image: url(../img/africa-tvaudiovideo-pdp-3-d.jpg); background-size: cover; 
                    background-position: bottom;}
.section4 .row1 .text{text-align: center; padding-left: 700px; padding-top: 200px;}
.section4 .row1 .text h2{padding-left: 90px; padding-top: 15px; font-size: 55px;}
.section4 .row1 .text p{ font-size: 30px; padding-right: 80px;}
.section4 .row1 .anchor{text-align: center; padding-left: 350px; padding-top: 50px;}
.section4 .row1 .anchor a{ color:white; text-decoration: none; background-color: maroon ; border-radius: 5px; padding: 15px 20px 15px 20px;}
.section4 .row2 .anchor a{padding-top: 300px; color:white; text-decoration: none; background-color: maroon ;
                       border-radius: 5px; padding: 10px 15px 10px 15px; }
.section4 .row2 .anchor{padding-left: 630px; padding-top: 300px;}
.section4 .row2  h1{ padding-right: 300px; padding-top: 200px; color: white; font-size: 24px;}
.section4 .row3 .anchor{ padding-left: 100px; padding-top: 150px;}
.section4 .row3 .anchor a{ color:white; text-decoration: none; background-color: maroon ; border-radius: 5px; padding: 15px 20px 15px 20px;}
.section4 .row3 .text h3{height: 2px;  text-align: center; color: white; font-size: 50px; padding-top: 150px;}
                        /* section4 end*/

                         /* section5  start*/
.section5{ width: 100%; display: flex; justify-content: space-evenly; margin:auto ; padding-top: 50px;}
.section5 .col1{width: 50%;}
.section5 .col1 .top{width: 100%; height: 360px; background-image: url(../img/africa-tvaudiovideo-block-1-d.jpg);
                          background-size: cover; background-position: center; margin-bottom: 20px;}
.section5 .col1 .bottom{width: 100%; height: 360px; background-image: url(../img/LGprtablebox2.PNG);
                            background-size: cover; background-position: center; margin-top: 35px;}
.section5 .col2{width: 44%; height: 755px; background-image:url(../img/africa-tvaudiovideo-block-3-d.jpg); 
                              background-repeat: no-repeat; background-size: cover; background-position: bottom; margin-left: 20px;}
.section5 .col1 .top h2{color: white; padding-top: 50px; padding-left: 40px;}
.section5 .col1 .bottom h2{color: white; padding-left: 40px; padding-top: 20px;}
.section5 .col2 h2{color: white; padding-top: 100px; padding-left: 150px; font-size: 35px;}
.section5 .col2 p{color: white; padding-left: 170px; padding-top: 10px;}
                            /* section5 end*/

                         /* section6  start*/
.section6{padding-top: 60px;}
.section6 h4{text-align: center; font-size: 40px;}
.section6 p{text-align: center; line-height: 30px;}
                             /* section6 end*/

                        /* section7  start*/
.section7{width: 100%; height: 1250px; display: flex; justify-content: space-evenly; padding-bottom: 20px;}
.section7 .col1{width: 15%; text-align: center; line-height: 30px;}
.section7 .col2{width: 30%; text-align:center; line-height: 30px; }
.section7 .col2 a{color: rgb(85, 75, 75);}
                        /* section7 end*/



             /* home appliance  start*/
                /* part1 start*/
.part1{width: 100%; height: 100px; text-align: center; padding-top: 50px; padding-bottom: 100px; }
.part1 h2{  font-size: 50px;}
.part1  p{ line-height: 25px;}
                        /*part1 end*/


                         /* part2 start*/
.part2{width: 100%; height: 600px; background-image: url(../img/africa-homeappliances-hero-1-d.jpg); background-repeat: no-repeat;
                           background-size: cover; background-position: center; padding-top: 50px;}
.part2 h3{font-size: 50px; color: white; padding-top: 120px; padding-left: 900px;}
.part2 p{color: white; padding-left: 900px; padding-top: 20px; line-height: 25px;}
.part2 .anchor{padding-top: 50px; padding-left: 850px;}
.part2 .anchor a{text-decoration: none; color: white; padding: 15px 20px 15px 20px; background-color: maroon; border-radius: 5px;}
                         /*part2 end*/
                          
.homeappl{text-align: center; font-size: 30px; padding-top: 30px;}


                            /* part3 start*/
.part3{width: 80%; display: flex; justify-content: space-evenly; margin: auto; margin-top: 20px; padding-top: 50px; padding-bottom: 50px;}
.part3 img{width: 150px; padding-top: 10px; padding-bottom: 10px;}
.part3 .col{width: 16%; height: 300px; border: 1px solid lightgray; text-align: center; padding: 20px; border-radius: 20px;}
.part3 .col .anchor a{text-decoration: none; color: black; }
.part3 .col .top a{text-decoration: none; font-size: 18px; color: black;}
.part3 .col .anchor1 a{color: black; font-size: 18px;}
.part3 .col .anchor2 a{color: black;}
                              /*part3 end*/


                                /* part4 start*/
.part4{width: 100%; height: 800px; background-size: cover;
                          background-image: url(../img/africa-homeappliances-supercategory-51.jpg);
                           background-repeat: no-repeat; background-position: center;}
.part4 p{color: white; padding-left: 800px;} 
.part4 h3{color: white; padding-left: 800px;}
.part4 h3{padding-top: 250px; font-size: 40px;}
.part4 p{padding-top: 20px; line-height: 25px;}
.part4 .anchor{padding-left: 800px; padding-top: 50px;}
.part4 .anchor a{text-decoration: none; color: white; padding: 15px 20px 15px 20px; background-color: maroon; border-radius: 5px;}
                            /*part4 end*/

                

                         /* part5 start*/
.part5{padding-top: 60px;}
.part5 h4{text-align: center; font-size: 40px;}
.part5 p{text-align: center; line-height: 30px;}
                       /*part5 end*/


                        /* part6 start*/    
.part6{width: 100%; height: 1250px; display: flex; justify-content: space-evenly; padding-bottom: 20px;}
.part6 .col1{width: 15%; text-align: center; line-height: 30px;}
.part6 .col2{width: 30%; text-align:center; line-height: 30px; }
.part6 .col2 a{color: rgb(85, 75, 75);}
                          /*part6 end*/

                             /* carrier start*/ 
.carrier{background-color: rgb(243, 243, 243);}

.carrier .part7{ height: 250px; padding-top: 50px; text-align: justify; padding-left: 25px; 
                              padding-right: 25px;line-height: 25px;}

.carrier .part8{ width: 100%; height: 100px; display: flex; justify-content: space-between; 
                                padding-top: 100p; border-bottom: 2px solid lightgray; padding-b ;}
.part8 .right{width: 10%; display: flex; justify-content: space-evenly; padding-right: 25px; padding-top: 120px;}
.part8 .left{width: 12%; display: flex; justify-content: space-evenly; padding-left: 25px; padding-top: 120px ; }
.part8 .left .col2 a{text-decoration: none;color: rgb(85, 75, 75); }

.carrier .part9{width: 90%; display: flex; justify-content: space-around;
                                margin: auto; padding-top: 100px; border-bottom: 2px solid lightgray; }
.part9 .footer-line{border-left: 1px solid lightgray; padding-left: 12px;}
.part9 .footer-line p{ line-height: 25px; text-align: center;}
.part9 .col{width: 20%; }
.part9 .col ul li{list-style: none; font-size: 15px; color: gray; line-height: 20px; padding-top: 10px;}
.part9 .col ul{padding-left: 10px;}
.part9 .col p{font-size: 15px; padding-left: 20px;}
.part9 .col h3{font-size: 12px; margin-bottom: 10px; padding-left: 20px;} 
.part9 .col a{text-decoration: none; color: rgb(105, 101, 101); font-size: 20px;}  
                              /*carrier end*/
                            
                            /* start footer*/
.footer1{width: 100%; height: 100px; display: flex; justify-content: space-evenly; background-color: rgb(78, 75, 75);}
.footer1 .anchor{text-align: center; font-size: 10px; color: white; line-height: 15px;}
.footer1 .anchor a{color: white;}
.footer1 .left{padding-top: 30px;}
.footer1 .right{padding-top: 30px;}
.footer1 .left .anchor .anchor1{ width: 40%; display: flex; justify-content: space-evenly; padding-left: 100px;}
.footer1 .left .anchor p{padding-right: 50px;}
                           /* end footer*/    
                           
.part41{width: 100%; height: 735px; background-repeat: no-repeat;
                             background-size: cover; background-image: url(../img/africa-homeappliances-super1.jpg); background-position: left;}
.part41 h2{color: white; font-size: 45px; padding-left: 830px; padding-top: 200px;}
.part41 .anchor a{text-decoration: none; color: white; padding: 15px 20px 15px 20px; background-color: maroon; border-radius: 5px;}
.part41 .anchor{padding-left: 830px; padding-top: 50px;}
                       /* home appliance end*/





     @media(max-width: 1100px){
   .home-section14{display: block;}
   .home-section14 .col{width: 90%; margin: auto; margin-top: 20px;}

     }
        
     @media(max-width: 768px) {
.slider{background-position: left;}
.nav .nav-links a{font-size: 10px;}  
.home-section1{display: block;}
.home-section1 .col{width: 90%; margin: auto; margin-top: 40px;}
.home-section3{display: block;}
.home-section3 .col{width: 40%; margin: auto; text-align: center;}
.home-section4{display: block; width: 40%; margin: auto;}
.home-section5{display: block;}
.home-section5 .col{width: 70%; margin: auto;}
.home-section6{display: block; margin: auto;}
.home-section6 .col1{width: 30%; height:200px; margin: auto; padding-right: 100px; margin-bottom: 10px;}
.home-section6 .col2{width: 70%; margin: auto; }

                   }

@media(max-width: 650px) {
  .home-section11{display: block;}
  .home-section11 .col{width: 90%; margin: auto; margin-top: 30px;}
  .container .home-section12{font-size: 10px;}
  .home-section13{display: block;}
  .home-section13 .col{width: 80%; margin: auto;}
  .footer img{width: 100px; padding-right: 20px;}
  .footer a{padding-bottom: 20px;}
  .footer p{padding-left: 10px;}
  .nav .nav-links .hidenav650 {display: none;}
  .nav .nav-links .shownav{display: inline;}
  .nav-mobile{width: 100%; display: flex; justify-content: space-between; align-items: center;}
  .nav-mobile img{width: 30px;}
  .nav{display: none;}
}

                   
       @media(max-width: 425px) {
        .home-section9{display: grid;}
        .home-section14 a{font-size: 10px;}
        .home-section14 ul li{font-size: 10px;}
        .home-section12{width: 100%;}
        .footer img{width: 50px;}
        .home-section6 .col1{width: 40%; }
        .home-section6 .col1 img{width: 100px;}


       }
                   
      @media(max-width: 329px) {}

                             




               


    